#tabelaDeEventos_filter input,
#tabelaDeEventos_length select {
    border-radius: 5px;
    padding: 2% 4%;
    font-size: 0.3em;
    border: 1px solid #a1bfcebf;
}

#tabelaDeEventos_filter input:focus {
    border: 1px solid #02a5f7c5;
  }

#tabelaDeEventos_paginate,
#tabelaDeEventos_length label,
#tabelaDeEventos_filter label {
    font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
    margin-bottom: 10px;
}

#tbody tr td:nth-child(4n) {
    margin: 0;
    padding: 2px 0;
}

#tabelaDeEventos thead tr th:first-child {
    border-radius: 10px 0 0 10px;
}

#tabelaDeEventos thead tr th:last-child {
    border-radius: 0 10px 10px 0;
}

#tabelaDeEventos {
    border-bottom: 1px solid #97bac7
}

#tabelaDeEventos_paginate span a {
    background-color: #007bff;
    border-color: #007bff3f;
}

#tabelaDeEventos_previous,
#tabelaDeEventos_next,
#tabelaDeEventos_paginate span a{
    color: #fff;
    padding: 4px 5px;
}

#tabelaDeEventos_paginate {
    margin: 5px;
}